.sidebar-left-message{
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    cursor: pointer;
}
.sidebar-left-message:hover{
    background-color: #535751;
}
.sidebar-left-message-msg{
    margin-left: 12px;
}

.sidebar-left-message-time{
    margin-right: 14px;
    display: flex;
    justify-content: flex-end;
    flex: 3;
}
