.sidebar-left-search-bar-container{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(42, 47, 50);;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.sidebar-left-search-bar{
    color: white;
    background-color: rgb(42, 47, 50);;
    font-weight: 300;
    margin-top: 5px;
    width: 80%;
    border: none;
    resize: none;
    text-align: center;
}
.sidebar-left-search-bar:focus-visible{
    outline: none;
}
