.sidebar-right-header{
    position: sticky;
    top: 1rem;
    display: flex;
    height: 70px;
    align-items: center;
    background-color: #535751;
}
.sidebar-right-header-img{
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.sidebar-right-header-name-container{
    flex : 2;
    margin-left: 14px;
}
.sidebar-right-header-icons-container{
    display: flex;
    justify-content: flex-end;
    flex : 3;
}